<h4><label for="search-box">Search ...</label></h4>

<ng-container class="search" *ngIf="searchableArray$ | async as searchableMockArray">

  <input #searchBox id="search-box" (input)="search(searchBox.value)"/>

  <ul class="search-result" [hidden]="searchBox.value == ''" *ngIf="searchableMockArray.length > 1">
    <li *ngFor="let object of searchableMockArray">

      <!--PURPOSE SELECTION-->
      <ng-container [ngSwitch]="purpose">

        <!--CASE : USERS-->
        <button class="ps-1"
                *ngSwitchCase="'users'"
                (click)="select(object.name)"
                [innerHTML]="searchMatchToBold(object.name)">
        </button>
        <!--END USERS-->

      </ng-container>

    </li>
  </ul>

</ng-container>
