<h4><label for="search-box">Search ...</label></h4>

<ng-container class="search" *ngIf="searchableMockArray$ | async as searchableMockArray">

  <input #searchBox id="search-box" (input)="search(searchBox.value)"/>

  <ul class="search-result" [hidden]="!(searchBox.value != '')" *ngIf="searchableMockArray.length > 1">
    <li *ngFor="let object of searchableMockArray$ | async">

      <ng-container [ngSwitch]="purpose"> <!--PURPOSE SELECTION-->

        <!--CASE : USERS-->
        <button class="ps-1" *ngSwitchCase="'users'" (click)="select(object.name)">
          {{object.name}} - {{object.age}}
        </button>
        <!--END USERS-->

      </ng-container>

    </li>
  </ul>

</ng-container>
