
  <div class="row">
    <div class="col-3 text-center button-ctn-md">
      <button class="btn btn-dark m-3 button" (click)="openInfoModal()">INFO MODAL</button>
    </div>

    <div class="col-3 text-center button-ctn-md">
      <button class="btn btn-dark m-3 button" (click)="openConfirmModal()">CONFIRM MODAL</button>
    </div>

    <div class="col-3 text-center button-ctn-md">
      <button class="btn btn-dark m-3 button" (click)="openSuccessModal()">SUCCESS MODAL</button>
    </div>

    <div class="col-3 text-center button-ctn-md">
      <button class="btn btn-dark m-3 button" (click)="openErrorModal()">ERROR MODAL</button>
    </div>
  </div>


<app-modal></app-modal>
