<!-- Modal Header -->
<button type="button" class="float-end btn btn-dark" (click)="close()">&times;</button>
<div class="modal-header row">
  <div class="col-12 text-center">
    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-info-circle" width="80" height="80"
         viewBox="0 0 24 24" stroke-width="1.5" stroke="#0275d8" fill="none" stroke-linecap="round"
         stroke-linejoin="round">
      <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
      <circle cx="12" cy="12" r="9"/>
      <line x1="12" y1="8" x2="12.01" y2="8"/>
      <polyline points="11 12 12 12 12 16 13 16"/>
    </svg>
  </div>
  <h4 class="modal-title">{{(messageTitle$ | async)}}</h4>
</div>

<!-- Modal body -->
<div class="modal-body">
  {{(messageBody$ | async)}}
</div>

<!-- Modal footer -->
<div class="modal-footer float-end p-0">
  <button type="button" class="button btn btn-dark" (click)="close()">Ok</button>
</div>
