<!--<button class="btn btn-dark" (click)="openInfoModal()">INFO MODAL</button>-->
<!--<button class="btn btn-dark" (click)="openConfirmModal()">CONFIRM MODAL</button>-->
<!--<button class="btn btn-dark" (click)="openSuccessModal()">SUCCESS MODAL</button>-->
<!--<button class="btn btn-dark" (click)="openErrorModal()">ERROR MODAL</button>-->

<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
<!--
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
-->
        <div class="nav-item m-3">
          <button class="btn btn-dark" (click)="openInfoModal()">INFO MODAL</button>
        </div>
        <div class="nav-item m-3">
          <button class="btn btn-dark" (click)="openConfirmModal()">CONFIRM MODAL</button>
        </div>
        <div class="nav-item m-3">
          <button class="btn btn-dark" (click)="openSuccessModal()">SUCCESS MODAL</button>
        </div>
        <div class="nav-item m-3">
          <button class="btn btn-dark" (click)="openErrorModal()">ERROR MODAL</button>
        </div>
<!--
      </ul>
-->
    </div>
  </div>
</nav>

<app-modal></app-modal>
