<div class="row">
  <div class="col-3 mx-auto">
    <button class="btn btn-dark" (click)="openInfoModal()">INFO MODAL</button>
  </div>

  <div class="col-3 mx-auto">
    <button class="btn btn-dark" (click)="openConfirmModal()">CONFIRM MODAL</button>
  </div>

  <div class="col-3 mx-auto">
    <button class="btn btn-dark" (click)="openSuccessModal()">SUCCESS MODAL</button>
  </div>

  <div class="col-3 mx-auto">
    <button class="btn btn-dark" (click)="openErrorModal()">ERROR MODAL</button>
  </div>
</div>

<app-modal></app-modal>
